body{
    background: linear-gradient( 135deg ,#acdcf4,#7df8bf );
    
    margin: 0%;
}


header{
    /* text-align: center; */
    height: 80px;
    /* background: rgb(202, 202, 245); */
    
    padding: 40px 0 0 0;
}

.headerlogo{
    width: 200px;
    font-size: 2rem;
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0 100px 0 0;
}

main{
    /* background-color: rgb(204, 247, 247); */
    height: 100vh;
    margin: 0% auto;
    margin-top: 30px;
    padding: 30px;
    align-items: center;
}

.loginbox{
    background-color: rgb(142, 204, 246); 
    border: solid 1px rgba(111, 108, 108, 0.512); 
    /* border-radius: 10px;  */
    margin: 0 auto;
    width: 350px;
    height: 500px;
    text-align: center;
    padding: 0 10 10 10;
    display: flex;  
    flex-direction: column; 
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); 
}

.loginname{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    /* border-radius: 10px 10px 0 0;  */
    /* background-color: rgb(40, 120, 239); */
    /* margin: 40 0 0 0; */
    font-size: 2rem;
}

.stdlogin{
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}


.stdlogin input{
    background-color: rgba(242, 246, 248, 0.357);
    border: 1px solid black;
    margin: 0 0 10px 0;
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px; 
}

.loginbtn{
    font-family:monospace;
    color: rgb(51, 167, 244);
    background-color: rgba(252, 252, 252, 0.924);
    border: 1px solid black;
    font-size: 20px;
    margin: 0 auto;
    width: 75%;
    border-radius: 10px; 
}


.otherbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;
    
}

.glsignin{
    font-size: 1rem;
    color: aliceblue;
    border: 0.1px solid black;
    background-color: rgb(85, 158, 253);
    margin: 10px;
    width: 50%;
}

.loginname{ 
    margin: 0;
    font-size: 2rem;
}

.newregister{
    color: rgb(8, 8, 8);
    font-size: 13px;
}

.passforget{
    color: rgb(7, 6, 6);
    font-size: 13px;
}